# Visual Studio
*.suo
*.ncb
*.vcproj.*.user
Debug/
*.aps
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#python
*.pyc

#vim
*.swp
